#header{
    background-color: darkslategray;
    color: lightpink;
    text-align: center;
}


.main{
    background-color: lightgrey;
    padding: 1em;
    border: 3px solid black;
    border-radius: 10px;
}


body {
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0
}

